@charset "UTF-8";
/* STYLE INDEX*/
/*  BASE  */
/* SETUP */
@font-face {
  font-family: "NTDapper-Black";
  src: url("../fonts/NTDapper-Black.otf"), url("../fonts/NTDapper-Black.eot") format("embedded-opentype"), url("../fonts/NTDapper-Black.woff") format("woff"), url("../fonts/NTDapper-Black.ttf") format("truetype"), url("../fonts/NTDapper-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NTDapper-Bold";
  src: url("../fonts/NTDapper-Bold.otf"), url("../fonts/NTDapper-Bold.eot") format("embedded-opentype"), url("../fonts/NTDapper-Bold.woff") format("woff"), url("../fonts/NTDapper-Bold.ttf") format("truetype"), url("../fonts/NTDapper-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NTDapper-Regular";
  src: url("../fonts/NTDapper-Regular.otf"), url("../fonts/NTDapper-Regular.eot") format("embedded-opentype"), url("../fonts/NTDapper-Regular.woff") format("woff"), url("../fonts/NTDapper-Regular.ttf") format("truetype"), url("../fonts/NTDapper-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "NTDapper-Regular";
  font-size: 18px;
  line-height: 21px;
  position: relative;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

b, strong, .is-bold {
  font-family: "NTDapper-Bold", sans-serif;
}

.is-black {
  font-family: "NTDapper-Black", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.word-break {
  word-break: break-all;
}

.no-underline {
  text-decoration: none !important;
}
.no-underline:hover {
  text-decoration: none !important;
}

.has-underline {
  text-decoration: underline !important;
}
.has-underline:hover {
  text-decoration: underline !important;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.align-top {
  vertical-align: top;
}

.txt-sup {
  position: relative;
  top: -13px;
}
@media (max-width: 991px) {
  .txt-sup {
    top: -6px;
  }
}

.txt8 {
  font-size: 11px;
  line-height: 10px;
}
@media (max-width: 600px) {
  .txt8 {
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  .txt8 {
    font-size: 7px;
  }
}

.txt10 {
  font-size: 10px;
  line-height: 14px;
}

.txt12 {
  font-size: 12px;
  line-height: 14px;
}

.txt14 {
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 991px) {
  .txt14 {
    font-size: 12px;
    line-height: 14px;
  }
}

.txt16 {
  font-size: 16px;
  line-height: 20px;
}

.txt18 {
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 991px) {
  .txt18 {
    font-size: 16px;
    line-height: 20px;
  }
}

.txt20 {
  font-size: 20px;
  line-height: 29px;
}

.txt24 {
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 991px) {
  .txt24 {
    font-size: 18px;
    line-height: 24px;
  }
}

.txt28 {
  font-size: 28px;
  line-height: 35px;
}
@media (max-width: 991px) {
  .txt28 {
    font-size: 18px;
    line-height: 24px;
  }
}

.txt36 {
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 1280px) {
  .txt36 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 991px) {
  .txt36 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 600px) {
  .txt36 {
    font-size: 22px;
    line-height: 29px;
  }
}

.txt32 {
  font-size: 32px;
  line-height: 44px;
}
@media (max-width: 1280px) {
  .txt32 {
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 991px) {
  .txt32 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 600px) {
  .txt32 {
    font-size: 18px;
    line-height: 29px;
  }
}

.txt48 {
  font-size: 48px;
  line-height: 52px;
}
@media (max-width: 1280px) {
  .txt48 {
    font-size: 36px;
    line-height: 43px;
  }
}
@media (max-width: 991px) {
  .txt48 {
    font-size: 24px;
    line-height: 29px;
  }
}

.txt54 {
  font-size: 54px;
  line-height: 69px;
}
@media (max-width: 1280px) {
  .txt54 {
    font-size: 36px;
    line-height: 43px;
  }
}
@media (max-width: 991px) {
  .txt54 {
    font-size: 24px;
    line-height: 29px;
  }
}

.txt72 {
  font-size: 72px;
  line-height: 72px;
}
@media (max-width: 1028px) {
  .txt72 {
    font-size: 36px;
    line-height: 43px;
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vh100 {
  height: 100vh;
}

.vh80 {
  height: 80vh;
}

.has-content b, .has-content strong {
  font-family: "NTDapper-Bold";
}
.has-content a {
  color: #0074FF;
  text-decoration: underline;
}
.has-content p {
  font-size: 18px;
  line-height: 26px;
}
.has-content h3 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 991px) {
  .has-content h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.has-content h2 {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 35px;
}
@media (max-width: 991px) {
  .has-content h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
.has-content h1 {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 1280px) {
  .has-content h1 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 991px) {
  .has-content h1 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 600px) {
  .has-content h1 {
    font-size: 22px;
    line-height: 29px;
  }
}
.has-content li {
  counter-increment: li;
  list-style-type: none;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  margin-top: 30px;
  width: 80%;
}
.has-content li:nth-last-of-type(1) {
  margin-bottom: 30px;
}
.has-content li:before {
  font-family: "NTDapper-Bold";
  content: counter(li) ".   ";
  color: #0074FF;
  display: inline-block;
}
@media (max-width: 991px) {
  .has-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

.has-list-bullets li:after {
  content: "•";
  font-size: 8px;
  margin: 0 10px;
}
.has-list-bullets li:last-child:after {
  content: "";
}

.has-list-comma li:after {
  content: ",";
  font-size: 8px;
}
.has-list-comma li:last-child:after {
  content: "";
}

.video-wrap {
  position: relative;
  padding-bottom: 66.25%;
  padding-top: 0;
  height: 0;
  max-width: 1000px;
  margin: 0 auto;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1280px) {
  .video-wrap {
    padding-bottom: 56.25%;
  }
}

.full-video-wrap {
  position: relative;
  padding-top: 0;
  padding-bottom: 56.4%;
  width: 100%;
  margin: 0 auto;
}
.full-video-wrap iframe, .full-video-wrap video, .full-video-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.line-clamp-x2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-x3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-auto {
  overflow: auto;
}

.has-btn {
  border-radius: 30px;
  border: none !important;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-family: "NTDapper-Bold";
  min-width: 160px;
  padding: 17px 50px;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.has-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  -ms-filter: brightness(1.2);
  -o-filter: brightness(1.2);
  filter: brightness(1.2);
}
@media (max-width: 1280px) {
  .has-btn {
    line-height: 20px;
    font-size: 14px;
    padding: 9px 30px;
    min-width: 100px;
  }
}

.has-sm-btn {
  padding: 11px 30px;
}
@media (max-width: 1280px) {
  .has-sm-btn {
    padding: 9px 30px;
  }
}

.has-md-btn {
  padding: 17px 30px;
}
@media (max-width: 1280px) {
  .has-md-btn {
    padding: 9px 30px;
  }
}

.btn-circle {
  height: 40px;
  width: 40px;
  line-height: 37px;
}

.btn-white {
  border-radius: 40px;
  color: #0074FF;
  background-color: #FFFFFF;
  border: none;
}
.btn-white:hover {
  color: #0074FF;
}

.btn-launch {
  background-image: url("../img/icon-open.svg");
  padding-right: 50px;
  background-repeat: no-repeat;
  background-position: 83% center;
  min-width: 176px;
}

input[type=text],
input[type=email],
input[type=number] {
  color: #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-family: "NTDapper-Bold";
  border: none;
  padding: 29px 25px;
  height: 60px;
  width: 100%;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder {
  color: #000000;
}
@media (max-width: 991px) {
  input[type=text],
input[type=email],
input[type=number] {
    padding: 16px 20px;
    font-size: 16px;
    height: auto !important;
  }
}

.has-gray-placeholder {
  font-family: "NTDapper-Regular" !important;
  color: #000000 !important;
}
.has-gray-placeholder::placeholder {
  font-family: "NTDapper-Regular" !important;
  color: #9B9B9B !important;
}

select.has-gray-placeholder {
  padding: 18px 25px !important;
  background-image: url("../img/icon-arrow-select-gray.svg");
  background-repeat: no-repeat;
  background-position: 94% 26px;
}
select.has-gray-placeholder option {
  color: #000000;
}

.form-control:focus {
  color: #000000;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

textarea {
  padding: 19px 25px !important;
}

select {
  color: #000000;
  border-radius: 5px !important;
  background-color: #FFFFFF;
  font-family: "NTDapper-Bold";
  border: none !important;
  padding: 16px 25px !important;
  font-size: 18px;
  height: inherit !important;
  width: 100%;
  background-image: url("../img/icon-arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 26px;
  padding-right: 35px !important;
  cursor: pointer;
}
@media (max-width: 991px) {
  select {
    padding: 11px 20px;
    font-size: 16px;
    height: auto;
    background-position: right 22px;
  }
}

select.has-blue-select {
  color: #0074FF;
  border-radius: 50px !important;
  background-color: #FFFFFF;
  font-family: "NTDapper-Regular";
  border: solid 2px #0074FF !important;
  padding: 17px 60px !important;
  font-size: 18px;
  height: inherit !important;
  background-image: url("../img/icon-arrow-select-blue.svg");
  background-repeat: no-repeat;
  background-position: 83% 25px;
  padding-right: 80px !important;
  cursor: pointer;
  width: auto !important;
}
@media (max-width: 991px) {
  select.has-blue-select {
    background-position: 86% 15px !important;
    background-position: right 22px;
    background-size: 12px;
    font-size: 14px;
    height: auto;
    padding: 6px 25px !important;
    padding-right: 40px !important;
  }
}

.btn-search {
  padding: 29px;
  position: relative;
}
.btn-search:after {
  content: ">";
  position: absolute;
  top: 17px;
  left: 22px;
}
@media (max-width: 800px) {
  .btn-search {
    padding: 23px;
  }
  .btn-search:after {
    content: ">";
    position: absolute;
    top: 10px;
    left: 17px;
  }
}

input[type=submit] {
  background-color: #0074FF;
  border-radius: 50px;
  border: none !important;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "NTDapper-Bold";
  font-size: 18px;
  line-height: 0;
  padding: 28px 50px;
  min-width: 160px;
  max-width: 260px;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
@media (max-width: 991px) {
  input[type=submit] {
    height: auto !important;
  }
}
input[type=submit]:focus, input[type=submit]:hover {
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -o-filter: brightness(130%);
  filter: brightness(130%);
  background-color: #0074FF !important;
  color: white !important;
}

.has-mxn-symbol {
  background-image: url("../img/icon-mxn.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  padding-right: 70px !important;
}

.has-green-input {
  background: #00DF82;
  border-radius: 5px;
  padding: 12px 23px;
}

.has-sm-shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.has-md-shadow {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.has-blue-shadow {
  -webkit-box-shadow: 0 0px 40px 0 rgba(0, 44, 102, 0.2);
  -moz-box-shadow: 0 0px 40px 0 rgba(0, 44, 102, 0.2);
  box-shadow: 0 0px 40px 0 rgba(0, 44, 102, 0.2);
}

/* Hide the browser's default checkbox */
.label-container input {
  color: #0074FF;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  border: 1px solid #1F2031;
}
@media (max-width: 990px) {
  .checkmark {
    height: 20px;
    width: 20px;
  }
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #FFFFFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 12px;
  top: 7px;
  width: 5px;
  height: 12px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 990px) {
  .container .checkmark:after {
    left: 7px;
    top: 2px;
  }
}

/* Icon 4 */
.animated-icon3 {
  width: 22px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.animated-icon3 span {
  background-color: #0074FF;
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 1px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 1px;
}

.bg-0 {
  background: none;
}

.bg-2C2C2E {
  background-color: #2C2C2E;
}

.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-white-md {
  background-color: #FFFFFF;
}
@media (max-width: 991px) {
  .bg-white-md {
    background-color: transparent;
  }
}

.bg-blue {
  background-color: #0074FF;
}

.bg-light-blue {
  background-color: #E6ECFF;
}

.bg-dark-blue {
  background-color: #002C66;
}

.bg-gray {
  background-color: #EEEEEE;
}

.bg-dark-gray {
  background-color: #161616;
}

.bg-light-gray {
  background-color: #F4F6FA;
}

.bg-green {
  background-color: #00DF82;
}

.bg-blue-to-gray {
  background-color: #002C66;
}
.bg-blue-to-gray:after {
  content: "";
  width: 100%;
  height: 24%;
  background: #F4F6FA;
  position: absolute;
  bottom: 0;
}
@media (max-width: 991px) {
  .bg-blue-to-gray:after {
    content: "";
    width: 100%;
    height: 24%;
    background: #F4F6FA;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .bg-blue-to-gray:after {
    content: none;
  }
}

.c-CDCDCD {
  color: #CDCDCD;
}
.c-CDCDCD a, .c-CDCDCD:hover {
  color: #CDCDCD;
}

.c-black {
  color: #000000;
}
.c-black a, .c-black:hover {
  color: #000000;
}

.c-white {
  color: #FFFFFF;
}
.c-white a, .c-white:hover {
  color: #FFFFFF;
}

.c-dark-gray {
  color: #161616;
}
.c-dark-gray a, .c-dark-gray:hover {
  color: #161616;
}

.c-gray {
  color: #EEEEEE;
}
.c-gray a, .c-gray:hover {
  color: #EEEEEE;
}

.c-light-gray {
  color: #F4F6FA;
}
.c-light-gray a, .c-light-gray:hover {
  color: #F4F6FA;
}

.c-dark-blue {
  color: #002C66;
}
.c-dark-blue a, .c-dark-blue:hover {
  color: #002C66;
}

.c-light-blue {
  color: #E6ECFF;
}
.c-light-blue a, .c-light-blue:hover {
  color: #E6ECFF;
}

.c-blue {
  color: #0074FF;
}
.c-blue a, .c-blue:hover {
  color: #0074FF;
}

.c-blue-sm-white {
  color: #0074FF;
}
@media (max-width: 768px) {
  .c-blue-sm-white {
    color: #FFFFFF;
  }
}

.c-green {
  color: #00DF82;
}
.c-green a, .c-green:hover {
  color: #00DF82;
}

.border-14 {
  border-radius: 14px;
}

.border-right-light-gray {
  border-right: 1px solid #F4F6FA;
}
@media (max-width: 768px) {
  .border-right-light-gray {
    border-right: inherit;
    border-bottom: 1px solid #F4F6FA;
  }
}

.border-bottom-light-gray {
  border-bottom: 2px solid #F4F6FA;
}

.border-bottom-dark-blue {
  border-bottom: 1px solid #002C66;
}

.border-bottom-white {
  border-bottom: 2px solid #FFFFFF;
}

.border-md-top-white {
  border-top: 2px solid #FFFFFF;
}
@media (max-width: 768px) {
  .border-md-top-white {
    border-top: none;
  }
}

.bg-espiral {
  background-image: url("../img/bg-espiral-faded.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -370px center;
}

.bg-espiral-verde {
  background-image: url("../img/bg-inversion3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85%;
  top: 15%;
  position: absolute;
  background-position: left center;
}
@media (max-width: 991px) {
  .bg-espiral-verde {
    height: 100%;
    top: 0%;
  }
}

.bg-espiral-azul {
  background-image: url("../img/bg-espiral-blue.svg");
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0%;
  position: absolute;
  background-position: left center;
}
@media (max-width: 991px) {
  .bg-espiral-azul {
    height: 100%;
    top: 0%;
  }
}

.bg-gradient-azul {
  background: linear-gradient(0deg, #002C66 5%, rgba(0, 0, 0, 0) 85%);
  width: 100%;
  pointer-events: none;
  height: 100%;
  top: 0%;
  left: 0;
  position: absolute;
}

.bg-gradient-light-blue {
  background: linear-gradient(0deg, #E6ECFF 10%, #FFFFFF 70%);
}

.bg-app {
  background: linear-gradient(0deg, #282828 85%, #E6ECFF 85%);
}
@media (max-width: 991px) {
  .bg-app {
    background: #282828;
  }
}

/*GRID*/
.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}
.pt-100 {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .pt-100 {
    padding-top: 40px;
  }
}

.pt-sm-100 {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .pt-sm-100 {
    padding-top: 0;
  }
}

.pt100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .pb-100 {
    padding-bottom: 40px;
  }
}

.ovr-hidden {
  overflow: hidden;
}

.word-break {
  word-break: break-all;
}

.max-w-840 {
  max-width: 840px;
}

.max-w-760 {
  max-width: 760px;
}

.max-w-110 {
  max-width: 110px;
}

img.max-w-110 {
  max-width: 110px;
  width: 100%;
}

img.max-w-80 {
  max-width: 80px;
  width: 100%;
}

.table td, .table th {
  border: none !important;
}

.col-2dot4, .col-sm-2dot4, .col-md-2dot4, .col-lg-2dot4, .col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 768px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
/*  COMPONENTS */
/* ELEMENTS */
section {
  position: relative;
  width: 100%;
}

footer {
  background-color: #EEEEEE;
  color: #000000;
  width: 100%;
}
footer .has-logo img {
  max-width: 253px;
  width: 100%;
}
@media (max-width: 980px) {
  footer .has-logo img {
    max-width: 253px;
  }
}

header {
  background-color: #FFFFFF;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
}
header .has-logo img {
  max-width: 253px;
  width: 100%;
}
header a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
header a:hover {
  color: #0074FF;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
header .has-menu li {
  list-style: none;
  white-space: nowrap;
}
header .has-dropdown > a {
  position: relative;
}
header .has-dropdown > a:after {
  content: url("../img/icon-dropdown-arrow-green.svg");
  height: 20px;
  width: 29px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  top: 41px;
  left: 40px;
}
header .has-dropdown .drop-down {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  left: 0;
  padding-top: 37px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
header .has-dropdown .drop-down a:hover {
  text-decoration: underline;
}
header .has-dropdown:hover > a:after {
  content: url("../img/icon-dropdown-arrow-green.svg");
  opacity: 1;
  top: 37px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
header .has-dropdown:hover .drop-down {
  visibility: visible;
  opacity: 1;
  padding-top: 32px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (max-width: 980px) {
  .has-logo img {
    max-width: 174px;
  }
}

.has-buro-logo img {
  height: 35px;
}

#triggerMenu {
  cursor: pointer;
}

.hero-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: -100vh;
  left: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 3;
}
.hero-nav #hero-menu li {
  margin-bottom: 15px;
}
.hero-nav #hero-menu li:last-child {
  margin-bottom: 0px;
}
.hero-nav .has-menu a {
  border-bottom: 1px solid #002C66;
  font-size: 24px;
}
.hero-nav .has-menu .has-icon:before {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.pointer-events-auto {
  pointer-events: auto !important;
}

.hero-nav.show {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  position: fixed;
  top: 0;
}

.html-overflow-active {
  height: 100%;
}

.overflow-active {
  -webkit-overflow-scrolling: touch;
  /* -webkit-overflow-scrolling: auto !important; */
  overflow: hidden;
  left: 0;
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
}

.aside-overflow-active {
  top: 50px;
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.dark-blue-mask {
  background: rgba(0, 44, 102, 0.7) !important;
}

.dark-mask {
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.color-mask {
  pointer-events: none;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.espiral-mask {
  background-image: url("../img/bg-espiral-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 72%;
  pointer-events: none;
  top: 0;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.has-slider {
  position: relative;
  z-index: 0;
}
.has-slider .slick-slide {
  display: inline-block;
  vertical-align: top;
}
.has-slider .slick-list {
  overflow: hidden;
}
.has-slider .slider__counter {
  font-family: "NTDapper-Regular";
  color: white;
  width: 122px;
  left: 62px;
  position: absolute;
  font-size: 14px;
  text-align: center;
  bottom: 0px;
}
@media (max-width: 991px) {
  .has-slider .slider__counter {
    left: 49px;
  }
}
.has-slider .slick-dots {
  text-align: center;
  margin-top: 50px;
}
.has-slider .slick-dots li {
  border-radius: 100%;
  background-color: #D8D8D8;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  margin-right: 15px;
  height: 13px;
  width: 13px;
  overflow: hidden;
}
.has-slider .slick-dots li:last-child {
  margin-right: 0;
}
.has-slider .slick-dots li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100%;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 100% !important;
  width: 100% !important;
}
.has-slider .slick-dots li.slick-active {
  background-color: #4A4A4A;
}
@media (max-width: 768px) {
  .has-slider {
    margin-bottom: 50px;
  }
  .has-slider .slider__counter {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -43px;
  }
}

.has-white-arrows .slick-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 40px;
  z-index: 5;
}
.has-white-arrows .slick-prev {
  left: 0px;
}
.has-white-arrows .slick-prev:after {
  content: url("../img/slider-arrow-left.svg");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
@media (min-width: 991px) {
  .has-white-arrows .slick-prev {
    left: 28px;
  }
}
.has-white-arrows .slick-next {
  left: 180px;
}
.has-white-arrows .slick-next:after {
  content: url("../img/slider-arrow-right.svg");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .has-white-arrows .slick-arrow {
    bottom: -43px;
  }
  .has-white-arrows .slick-next {
    right: 0;
    left: inherit;
  }
}

.has-blue-arrows {
  margin-bottom: 0 !important;
}
.has-blue-arrows .slick-list {
  overflow: visible;
}
.has-blue-arrows .slick-dots {
  display: none !important;
}
.has-blue-arrows .slick-arrow {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: transparent;
  border: none;
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 40px;
  z-index: 5;
}
.has-blue-arrows .slick-prev {
  left: 44%;
}
.has-blue-arrows .slick-prev:after {
  content: url("../img/slider-arrow-left-blue.svg");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.has-blue-arrows .slick-next {
  left: 55%;
}
.has-blue-arrows .slick-next:after {
  content: url("../img/slider-arrow-right-blue.svg");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .has-blue-arrows .slick-arrow {
    display: none !important;
  }
  .has-blue-arrows .slick-dots {
    display: block !important;
  }
}

.custom_paging {
  font-family: "NTDapper-Regular";
  font-size: 16px;
  color: #002C66;
  position: absolute;
  left: 50%;
  bottom: 0px;
  position: absolute;
}
@media (max-width: 768px) {
  .custom_paging {
    display: none !important;
  }
}

.slider-img {
  width: 100%;
}
.slider-img .slick-list {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.slider-img .slick-list img {
  border-radius: 8px;
}

.slider-img-txt {
  width: 100%;
}

.cards-slider .slick-list {
  overflow: inherit;
}
.cards-slider .slick-slide {
  max-width: 294px;
  width: 100%;
}
.cards-slider .card-x2 {
  min-height: 464px;
}
.cards-slider .info-btn {
  position: absolute;
  bottom: 0;
  left: inherit;
  right: 120px;
}
@media (max-width: 991px) {
  .cards-slider .card-x2 {
    min-height: auto;
  }
}

.hero-slider img {
  width: 100%;
}
.hero-slider .info-btn span {
  position: relative;
  right: -5px;
}
.hero-slider .has-txt {
  position: absolute;
  text-align: left;
  transform-origin: bottom;
  margin-top: 18%;
  right: -140px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media (max-width: 1280px) {
  .hero-slider .has-txt a {
    font-size: 14px;
  }
}

.info-btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #F3F3F3;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  left: -20px;
  position: relative;
}
.info-btn span {
  color: #000000;
}

.i-btn {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid #002C66;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  position: relative;
  line-height: 16.5px;
}
.i-btn .has-txt {
  background: #002C66;
  color: #FFFFFF;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 43px;
  left: -78px;
  padding: 10px;
  -webkit-transition: all ease 0.5;
  -moz-transition: all ease 0.5;
  -ms-transition: all ease 0.5;
  -o-transition: all ease 0.5;
  transition: all ease 0.5;
  width: 170px;
}
.i-btn .has-txt:after {
  content: "";
  content: url("../img/icon-dropdown-arrow-blue.svg");
  height: 20px;
  width: 29px;
  position: absolute;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  top: -14px;
  left: 72px;
}
.i-btn:hover .has-txt {
  opacity: 1;
  -webkit-transition: all ease 0.5;
  -moz-transition: all ease 0.5;
  -ms-transition: all ease 0.5;
  -o-transition: all ease 0.5;
  transition: all ease 0.5;
}
@media (max-width: 768px) {
  .i-btn {
    border: 1px solid #0074FF;
    color: #0074FF;
  }
}

.img-thumb-50 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 430px;
}
@media (max-width: 768px) {
  .img-thumb-50 {
    min-height: 250px;
  }
}

.img-card-square {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
  width: 100%;
}

.img-card-rectangle {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 60%;
  width: 100%;
}

.vh-80 {
  height: 80vh;
}

.hero-img-800 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}
.hero-img-800 .has-txt {
  width: 80%;
}
@media (max-width: 1360px) {
  .hero-img-800 .has-txt {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-img-800 {
    top: -1px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    min-height: 230px;
  }
  .hero-img-800 .has-txt {
    width: 100%;
  }
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}
.hero-img .has-txt {
  width: 80%;
}
@media (max-width: 1360px) {
  .hero-img .has-txt {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-img {
    top: -1px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    min-height: 230px;
  }
  .hero-img .has-txt {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section.bg-orange {
    top: -1px;
  }
}

.has-tooltip {
  position: relative;
  height: 13px;
  width: 13px;
  border-radius: 13px;
  border: 1px solid #0074FF;
  font-size: 8px;
  text-align: center;
  line-height: 11px;
  top: -2px;
  right: 20px;
}
.has-tooltip .tooltip-box {
  text-align: left;
  font-size: 10px;
  color: #FFFFFF;
  position: absolute;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  left: -22px;
  width: 170px;
  padding-top: 8px;
  z-index: 1;
}
.has-tooltip .tooltip-box:after {
  content: "";
  height: 10px;
  width: 10px;
  background: #0074FF;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: 23px;
}
.has-tooltip:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (max-width: 990px) {
  .has-tooltip {
    right: -10px;
  }
}
@media (max-width: 767px) {
  .has-tooltip {
    right: 100px;
  }
}
@media (max-width: 768px) {
  .has-tooltip {
    right: 80px;
    display: none !important;
  }
}

@media (max-width: 990px) {
  span.wpcf7-list-item {
    margin-left: 0px;
  }

  span.wpcf7-list-item-label {
    left: -4px;
    position: relative;
    font-size: 16px;
  }
}
.tab-menu li {
  margin-right: 40px;
}
.tab-menu li:last-child {
  margin-right: 0;
}
.tab-menu li a.active {
  color: #0074FF;
  text-decoration: underline;
}

.tab-content {
  width: 100%;
}

.has-fade {
  opacity: 0;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.has-fade:nth-child(-n+4) {
  opacity: 1;
}

.has-icon {
  position: relative;
}
.has-icon:before {
  content: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 1px;
  position: absolute;
}

.has-bleed-txt {
  position: relative;
  padding-left: 60px;
}
.has-bleed-txt img {
  position: absolute;
  top: 6px;
  left: 0px;
}
@media (max-width: 991px) {
  .has-bleed-txt {
    padding-left: 55px;
  }
  .has-bleed-txt img {
    max-width: 30px;
  }
}

.has-bleed-txt-sm {
  position: relative;
  padding-left: 30px;
}
.has-bleed-txt-sm img {
  position: absolute;
  top: 8px;
  left: 0px;
}

.has-bleed-txt-center {
  position: relative;
}
.has-bleed-txt-center img {
  position: relative;
  display: inline-block;
  top: 8px;
  margin-right: 20px;
}

.has-arrow-down.collapsed:after {
  content: url("../img/icon-arrow-up.svg");
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 20px;
  position: absolute;
}

.has-arrow-down:after {
  content: url("../img/icon-arrow-up.svg");
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  right: 20px;
  position: absolute;
}

.overlaped-img {
  position: relative;
  height: 60px;
  top: -80px;
  left: 15px;
  margin: 0 auto;
}
.overlaped-img img {
  margin: 0 auto;
}
@media (max-width: 991px) {
  .overlaped-img {
    top: -50px;
    height: 80px;
  }
  .overlaped-img img {
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .overlaped-img {
    top: 0px;
    height: 80px;
  }
  .overlaped-img img {
    max-width: 80px;
  }
}

.overlaped-img-center {
  position: relative;
  height: 60px;
  top: -80px;
  margin: 0 auto;
}
.overlaped-img-center img {
  margin: 0 auto;
}
@media (max-width: 991px) {
  .overlaped-img-center {
    top: -50px;
    height: 80px;
  }
  .overlaped-img-center img {
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .overlaped-img-center {
    top: 0px;
    height: 80px;
  }
  .overlaped-img-center img {
    max-width: 80px;
  }
}

.fade-in {
  opacity: 0;
  top: 60px;
  position: relative;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.fade-in.show {
  opacity: 1;
  top: 0;
  position: relative;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.overlaped-box-1 {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background: white;
  position: relative;
  top: 120px;
  z-index: 1;
}
@media (max-width: 991px) {
  .overlaped-box-1 {
    top: 110px;
  }
}
@media (max-width: 768px) {
  .overlaped-box-1 {
    top: 0;
  }
}

.overlaped-box {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background: white;
  position: relative;
  top: 120px;
  z-index: 1;
}
@media (max-width: 1280px) {
  .overlaped-box {
    top: 90px;
  }
}
@media (max-width: 991px) {
  .overlaped-box {
    top: 110px;
  }
}
@media (max-width: 768px) {
  .overlaped-box {
    top: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background: none;
  }
  .overlaped-box .bg-white {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  }
}

.small-cir {
  height: 80px;
  width: 80px;
}

.big-cir {
  border-radius: 100%;
  padding-bottom: 100%;
  position: absolute;
  top: -100px;
  width: 100%;
}

.cir-x2 {
  width: 101px;
  padding-bottom: 101px;
}
@media (max-width: 991px) {
  .cir-x2 {
    min-width: 80px;
    min-height: 80px;
  }
}
@media (max-width: 768px) {
  .cir-x2 p {
    font-size: 17px;
    line-height: 20px;
  }
}

.cir-x1 {
  width: 84%;
  padding-bottom: 84%;
}
@media (max-width: 991px) {
  .cir-x1 {
    width: 100%;
    padding-bottom: 100%;
  }
}

.cir-x2 {
  width: 100%;
  padding-bottom: 100%;
}
.cir-x2 .c-center {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
}
@media (max-width: 991px) {
  .cir-x2 .c-center {
    top: 36%;
  }
}

.cir-30x30 {
  display: inline-block;
  border-radius: 100%;
  height: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 29px;
  font-family: "NTDapper-Bold";
  width: 30px;
}

.cir-30x30 {
  display: inline-block;
  border-radius: 100%;
  height: 30px;
  font-family: "NTDapper-Bold";
  width: 30px;
}

.border-12px {
  border-radius: 12px;
}

.border-14px {
  border-radius: 14px;
}

.border-15px {
  border-radius: 15px;
}

.has-motion {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.has-motion:hover {
  -webkit-transform: translateY(-0.4rem);
  -moz-transform: translateY(-0.4rem);
  -ms-transform: translateY(-0.4rem);
  transform: translateY(-0.4rem);
}

svg {
  width: 100%;
  height: auto;
}

#home-svg {
  max-height: 450px;
  overflow: inherit;
}

#home-svg.show .path {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
  animation: dash 1.8s ease-out forwards;
}
#home-svg.show .ellipse4 {
  animation: show 0.4s ease-out forwards;
  opacity: 0;
  animation-delay: 1.3s;
}
#home-svg.show .ellipse3 {
  animation: show 0.4s ease-out forwards;
  opacity: 0;
  animation-delay: 0.8s;
}
#home-svg.show .ellipse2 {
  animation: show 0.4s ease-out forwards;
  opacity: 0;
  animation-delay: 0.4s;
}
#home-svg.show .ellipse1 {
  animation: show 0.4s ease-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
}
#home-svg.show .path-group-10 {
  animation: moveTop 0.5s ease-out forwards;
  opacity: 0;
  animation-delay: 0.4s;
}
#home-svg.show .path-group-9 {
  animation: moveTop 0.5s ease-out forwards;
  opacity: 0;
  animation-delay: 0.6s;
}
#home-svg.show .path-group-8 {
  animation: moveTop 0.5s ease-out forwards;
  opacity: 0;
  animation-delay: 1s;
}
#home-svg.show .path-group-7 {
  animation: moveTop 0.5s ease-out forwards;
  opacity: 0;
  animation-delay: 1.3s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes moveTop {
  to {
    opacity: 1;
  }
}
@keyframes moveTopShow {
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes showLeft {
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes showRight {
  to {
    opacity: 1;
    right: 0;
  }
}
.fade-in.show.delay1 {
  animation: moveTopShow 0.4s ease-out forwards;
  opacity: 0;
  top: 50px;
  animation-delay: 0.1s;
}

.fade-in.show.delay2 {
  animation: moveTopShow 0.4s ease-out forwards;
  opacity: 0;
  top: 50px;
  animation-delay: 0.3s;
}

.fade-in.show.delay3 {
  animation: moveTopShow 0.4s ease-out forwards;
  opacity: 0;
  top: 50px;
  animation-delay: 0.5s;
}

.fade-in.show.delay4 {
  animation: moveTopShow 0.4s ease-out forwards;
  opacity: 0;
  top: 50px;
  animation-delay: 0.7s;
}

.fade-in.show.delay5 {
  animation: moveTopShow 0.4s ease-out forwards;
  opacity: 0;
  top: 50px;
  animation-delay: 0.9s;
}

.fade-in-static {
  animation: show 0.8s ease-out forwards;
  opacity: 0;
}

.fade-left-right {
  animation: showLeft 0.7s ease-out forwards;
  opacity: 0;
  position: relative;
  left: -80px;
}

.fade-right-left {
  animation: showRight 0.7s ease-out forwards;
  opacity: 0;
  position: relative;
  right: -80px;
}

.overlaped-row {
  width: 104%;
  position: relative;
  left: -2%;
}

.timeline {
  position: relative;
}
.timeline:after {
  content: "";
  height: 100%;
  width: 2px;
  background: transparent;
  position: absolute;
  left: 50%;
  top: 162.9px;
}
.timeline .left, .timeline .right {
  position: relative;
  margin-top: -35px;
  width: 100%;
}
.timeline .left > div, .timeline .right > div {
  z-index: 1;
}
.timeline .has-cir {
  border-radius: 100%;
  background-size: auto;
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  background-color: #0074FF;
  z-index: 2;
}
.timeline .right:after,
.timeline .left:after {
  content: "";
  width: 2px;
  height: 100%;
  background: #0074FF;
  position: absolute;
  left: 50%;
  top: 0%;
}
.timeline .left:nth-child(1):after {
  top: 50%;
}
.timeline .right:last-child:after {
  top: -50%;
}
.timeline .left > div:before,
.timeline .right > div:before {
  content: "";
  background: #0074FF;
  border-radius: 15px;
  position: absolute;
}
.timeline .left > div:before {
  right: -6px;
  top: 45%;
  height: 15px;
  width: 15px;
}
.timeline .right > div:before {
  left: -6px;
  top: 45%;
  height: 15px;
  width: 15px;
}
.timeline .left > div:after,
.timeline .right > div:after {
  content: "";
  background: #0074FF;
  position: absolute;
  height: 2px;
  width: 19%;
  z-index: 0;
}
.timeline .left > div:after {
  right: -20.3%;
  top: 50%;
}
.timeline .right > div:after {
  left: -20%;
  top: 50%;
}
@media (max-width: 991px) {
  .timeline .left, .timeline .right {
    position: relative;
    margin-top: 0px;
  }
  .timeline:after {
    background: #0074FF;
    left: 49.2%;
    top: 0px;
    height: 90%;
  }
  .timeline .has-cir {
    height: 45px;
    width: 45px;
    top: -25px;
  }
  .timeline .left:after,
.timeline .right:after {
    content: none;
    background: transparent;
  }
  .timeline .left > div:before,
.timeline .right > div:before {
    content: none;
  }
  .timeline .right:last-child > div:before {
    content: none;
  }
  .timeline .left > div:after,
.timeline .right > div:after {
    content: none;
  }
}
@media (max-width: 768px) {
  .timeline:after {
    left: 48.9%;
    top: 0px;
  }
  .timeline .has-cir {
    border-radius: 100%;
    background-size: 35%;
    height: 35px;
    width: 35px;
    top: -20px;
  }
}
@media (max-width: 550px) {
  .timeline:after {
    height: 96%;
    left: 48%;
    top: 0px;
  }
}

/*# sourceMappingURL=index.css.map */
