// BG COLORS
.bg-black
	background-color: $c-black

.bg-white
	background-color: $c-white

.bg-blue
	background-color: $c-blue

.bg-light-blue
	background-color: $c-light-blue

.bg-dark-blue
	background-color: $c-dark-blue

.bg-gray
	background-color: $c-gray

.bg-dark-gray
	background-color: $c-dark-gray

.bg-light-gray
	background-color: $c-light-gray

// COLORS
.c-black
	color: $c-black
	a, &:hover
		color: $c-black

.c-white
	color: $c-white
	a, &:hover
		color: $c-white

.c-dark-gray
	color: $c-dark-gray
	a, &:hover
		color: $c-dark-gray

.c-gray
	color: $c-gray
	a, &:hover
		color: $c-gray

.c-light-gray
	color: $c-light-gray
	a, &:hover
		color: $c-light-gray

.c-dark-blue
	color: $c-dark-blue
	a, &:hover
		color: $c-dark-blue

.c-light-blue
	color: $c-light-blue
	a, &:hover
		color: $c-light-blue

.c-blue
	color: $c-blue
	a, &:hover
		color: $c-blue

.c-green
	color: $c-green
	a, &:hover
		color: $c-green
