// BG COLORS
.bg-0
	background: none

.bg-2C2C2E
	background-color: $c-2C2C2E

.bg-white-opacity
	background-color: rgba(255,255, 255,0.9)

.bg-black
	background-color: $c-black

.bg-white
	background-color: $c-white

.bg-white-md
	background-color: $c-white
	@media (max-width: $tablet_b)
		background-color: transparent

.bg-blue
	background-color: $c-blue

.bg-light-blue
	background-color: $c-light-blue

.bg-dark-blue
	background-color: $c-dark-blue

.bg-gray
	background-color: $c-gray

.bg-dark-gray
	background-color: $c-dark-gray

.bg-light-gray
	background-color: $c-light-gray

.bg-green
	background-color: $c-green

.bg-blue-to-gray
	background-color: $c-dark-blue
	&:after
		content: ''
		width: 100%
		height: 24%
		background: $c-light-gray
		position: absolute
		bottom: 0
	@media (max-width: $tablet_b)
		&:after
			content: ''
			width: 100%
			height: 24%
			background: $c-light-gray
			position: absolute
			bottom: 0
	@media (max-width: $phone_b)
		&:after
			content: none

// COLORS
.c-CDCDCD
	color: #CDCDCD
	a, &:hover
		color: #CDCDCD

.c-black
	color: $c-black
	a, &:hover
		color: $c-black

.c-white
	color: $c-white
	a, &:hover
		color: $c-white

.c-dark-gray
	color: $c-dark-gray
	a, &:hover
		color: $c-dark-gray

.c-gray
	color: $c-gray
	a, &:hover
		color: $c-gray

.c-light-gray
	color: $c-light-gray
	a, &:hover
		color: $c-light-gray

.c-dark-blue
	color: $c-dark-blue
	a, &:hover
		color: $c-dark-blue

.c-light-blue
	color: $c-light-blue
	a, &:hover
		color: $c-light-blue

.c-blue
	color: $c-blue
	a, &:hover
		color: $c-blue

.c-blue-sm-white
	color: $c-blue
	@media (max-width: $phone_b)
		color: $c-white

.c-green
	color: $c-green
	a, &:hover
		color: $c-green

// BORDERS
.border-14
	+border-radius(14px)

.border-right-light-gray
	border-right: 1px solid $c-light-gray
	@media (max-width: $phone_b)
		border-right: inherit
		border-bottom: 1px solid $c-light-gray

.border-bottom-light-gray
	border-bottom: 2px solid $c-light-gray

.border-bottom-dark-blue
	border-bottom: 1px solid $c-dark-blue

.border-bottom-white
	border-bottom: 2px solid $c-white

.border-md-top-white
	border-top: 2px solid $c-white
	@media (max-width: $phone_b)
		border-top: none
